#doctors {
    position: relative;
    top: 0px;

    scroll-margin-top: 70px;
    /* This adds an 70px gap when scrolling */

    background-color: #ffffff;
}

#doctors {
    background-color: #ffffff;
    padding-bottom: 50px;
}

#doctors1 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
}

#doctors1 h2 {
    font-size: 32px;
    font-weight: 500;
    color: #2c4964;

}

#doctors1 span #span2 {
    color: #1977cc;
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    top: -38px;
    left: 48px;
}

#doctors1 span {
    position: absolute;
    left: 680px;
    top: 99px;
}

#doctors1 p {
    font-size: 16px;
    color: #444444;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 50px;
}

#doctors-container1{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 8%;


}
.doc-1{
    display: flex;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.185);
    padding: 20px 35px;
    border-radius: 5px;
}

.doc-2{
    margin-left: 20px;
}

.doc-2 h4{
    font-size: 20px;
    color: #2c4964;
    margin-top: 8px;
    margin-bottom: 7px;

}
.doc-2 span{
    font-size: 15px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444444;
    margin-top: 0%;
}
.doc-2 p{
    font-size: 14px;
    color: #444444;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 27px;
}
.social a i{
    color: rgb(68, 65, 65);

}
.social{
    margin-top: 30px;
}
.social a {
    width: 50px;
    height: 50px;
    background-color: #44444428;
    border-radius: 50%;
    margin: 3px;
    padding: 10px;
    margin-top: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;


}
.social a:hover{
    background-color: #1977cc;
}

.social a:hover>i{
    color: #ffffff;
}

#doctors-container2{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 8%;
    margin-top: 20px;

}
.doc-1{

    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;

}
.doc-1:hover{
    transform: translateY(-10px);
}